@import '@styles/variables';

.timetable {
    &-slot {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $shell-width;
        height: $shell-height;

        border-radius: 15px;

        margin: 0.5rem 0;


        transition: box-shadow .25s ease-in-out;

        &:hover {
            box-shadow: inset 1px 1px 10px 3px rgb(0 0 0 / 3%);
        }


        &.--content {
            box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
            .timetable-item.--dragging {
                box-shadow: inset 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
            }
        }

        &.--hovered, &.--moved, .timetable-item.--dragging {
            box-shadow: inset 1px 1px 10px 5px rgba(0, 0, 0, 0.08);  
        }
    }
}