@import '../variables.scss';

.timetable {
    position: relative;

    display: flex;

    &-test {
        top: 0;
        right: 0;
        position: absolute;
    }

    $shell-width: 18rem;
    $shell-height: 8rem;


    &__day {
        display: flex;
        
        padding: 15px 0;
    }

    &__row {

        border: 1px solid $theme-color;


        &.--system {
            flex-grow: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            span.day {
                text-orientation: upright;
                writing-mode: vertical-rl;

                padding: 15px;
            }
        }
    }

    &__slots {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.--times {
            width: 100%;
            height: 100%;
            justify-content: space-around;
            .time {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
    
        }

        .slot {
            position: relative;

            width: $shell-width;
            height: $shell-height;

            margin: 15px;


            .item {
                width: 100%;
                height: 100%;
                background-color: #fff;
                
                border-radius: 15px;

                &.--null {
                    border: 1px solid $theme-color;
                    background-color: initial;
                }

                &__title {
                    font-size: 1.25rem;

                    text-align: center;

                    padding: 15px 0;
                    
                }

                &__content {
                    display: flex;
                    justify-content: space-around;

                    .--content-item {
                        width: calc(100% / 2 - 15px);

                        text-align: center;
                    }
                }
            }
        }


        &.--times {
            .time {
                width: initial;
                height: $shell-height;

                border: 1px solid $theme-color;
            }
        }
    }


}