$theme-darken: #151920;
$theme-dark: #222831;
$theme-grey: #393E46;

$theme-darken-color: #005f64;
$theme-dark-color: #00858b;
$theme-color: #00ADB5;

$theme-light: #EEEEEE;


$dark-error: #ff000078;
$error: #ff00004f;

$dark-warn: #eda80f96;
$warn: #eda80f96;

$dark-info: #0065ff57;
$info: #005bff4a;

$border-radius: 10px;


// Timetable
$shell-width: 190px;
$shell-height: 100px;