@import '@styles/variables';


/*
* Мне кажется нужно вынести какой-нибуть класс slot для стилизации ячеек и row для столбцов
*/
.timetable {
    $component: &;
    // use: #{$component}...

    display: flex;
    justify-content: center;

    background-color: #fff;
    border-radius: 15px;

    margin: 1rem;
    padding: 1rem;

    
    &-modal {
        display: none;
        &.--active {
            display: block;
            position: fixed;
            top: 0;
        
            width: 100%;
            height: 100%;
        
            background-color: #050f2094;
        }

    }

    
    &-unit {

        display: flex;
        gap: .5rem;

        &__title {
            padding: 1rem;
        }

        #{$component}-interval {

            display: flex;
            justify-content: end;
            flex-direction: column;

            padding: .5rem 1rem;

            #{$component}-time {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                width: calc($shell-width - 8rem);
                height: $shell-height;

                border-radius: 15px;

                margin: 0.5rem 0;

                transition: box-shadow .25s ease-in-out;

                &:hover {
                    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
                }
                                            
                &__start {}

                &__separator {}

                &__end {}
            }
        }

        #{$component}-week {
    
            display: flex;
            gap: 1rem;

            

            #{$component}-day {

                border-right: 1px dashed #dfdfdf;
                border-left: 1px dashed #dfdfdf;

                // background-color: #c5c5c5;
                padding: .5rem 1rem;

                &__title {
                    text-align: center;
                    margin-bottom: .5rem;
                }

                #{$component}-slots {

                }
            }
        }
    }
}