@import '@styles/variables.scss';


/*
* Мне кажется нужно вынести какой-нибуть класс slot для стилизации ячеек и row для столбцов
*/
.timetable {
    $component: &;
    // use: #{$component}...

    $shell-width: 190px;
    $shell-height: 100px;

    display: flex;
    justify-content: center;

    background-color: #fff;
    border-radius: 15px;

    margin: 1rem;
    padding: 1rem;

    
    &-modal {
        display: none;
        &.--active {
            display: block;
            position: fixed;
            top: 0;
        
            width: 100%;
            height: 100%;
        
            background-color: #050f2094;
        }

    }

    
    &-unit {

        display: flex;
        gap: .5rem;

        &__title {
            padding: 1rem;
        }

        #{$component}-interval {

            display: flex;
            justify-content: end;
            flex-direction: column;

            padding: .5rem 1rem;

            #{$component}-time {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                width: calc($shell-width - 8rem);
                height: $shell-height;

                margin: 0.5rem 0;

                // background-color: #dadada;
                                            
                &__start {}

                &__separator {}

                &__end {}
            }
        }

        #{$component}-week {
    
            display: flex;
            gap: 1rem;

            

            #{$component}-day {

                border-right: 1px dashed #dfdfdf;
                border-left: 1px dashed #dfdfdf;

                // background-color: #c5c5c5;
                padding: .5rem 1rem;

                &__title {
                    text-align: center;
                    margin-bottom: .5rem;
                }

                #{$component}-slots {
                    #{$component}-slot {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        width: $shell-width;
                        height: $shell-height;

                        margin: 0.5rem 0;

                        // background-color: #dadada;

                        #{$component}-item {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            width: 100%;
                            height: 100%;

                            background-color: #fff;
                            box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
                            border-radius: 15px;

                            cursor: grab;

                            &.--dragging {
                                // cursor: grabbing;
                                box-shadow: inset 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
                                // box-shadow: none;
                                opacity: .8;
                            }

                            &.--preview {
                                position: absolute;
                                box-shadow: none;
                            }

                            &__title {}

                            &__content {}

                            &__teacher {}

                            &__cabinet {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}